<div class="container">
  <header class="header">Bootstrap</header>
  <nav class="menu">
    <ul class="row">
      <li class="col-sm-4">top</li>
      <li class="col-sm-4">menu1</li>
      <li class="col-sm-4">menu2</li>
    </ul>
  </nav>
  <article>
    <div class="row">
      <div class="col-md-12">
      <div class="col-md-6">
        <div class="contents">
          <ul class="row_a">
            <li class="col-sm-6 col-md-3">contents1</li>
            <li class="col-sm-6 col-md-offset-1 col-mid-8">contents2</li>
            <li class="col-sm-6 col-md-5">contents3</li>
            <li class="col-sm-6 col-md-offset-2 col-mid-5"">contents4</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="topic">
            <ul class="row_b">
              <li class="col-md-12">bootstrapを使ってレスポンシブデザインを実現しよう！</li>
              <li class="col-md-12">やればできる！bootstrapを使ってみよう！</li>
              <li class="col-md-12">怖くない！レスポンシブデザインができるようになればWebアプリケーションもワンランク上に！</li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </article>
  </div>
